@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-body: #ebebef;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: rgb(15 23 42);
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: rgb(var(--foreground-rgb));
  background: var(--bg-body);
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full;
  }
  .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full;
  }
  .btn-info {
    @apply bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded-full;
  }
  .btn-success {
    @apply bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full;
  }
  .btn-warning {
    @apply bg-amber-400 hover:bg-amber-500 text-amber-900 font-bold py-2 px-4 rounded-full;
  }
  .btn-error {
    @apply bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full;
  }
  .btn-gray {
    @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded-full;
  }
  .btn-dark {
    @apply bg-slate-800 hover:bg-slate-900 text-white font-bold py-2 px-4 rounded-full;
  }
}
